h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

a {
   text-decoration: none;
   color: var(--primary-color-100);
}

.display {
   font-weight: 550;
   font-size: 68px;
   line-height: 92px;
}

.large-title {
   font-weight: 550;
   font-size: 40px;
   line-height: 52px;
}

.title-1 {
   font-weight: 550;
   font-size: 32px;
   line-height: 40px;
}

.title-2 {
   font-weight: 550;
   font-size: 28px;
   line-height: 36px;
}

.title-3 {
   font-weight: 550;
   font-size: 24px;
   line-height: 32px;
}

.subtitle-1 {
   font-weight: 550;
   font-size: 20px;
   line-height: 26px;
}

.subtitle-2 {
   font-weight: 550;
   font-size: 16px;
   line-height: 22px;
}

.body {
   font-size: 14px;
   line-height: 20px;
}

.caption-1 {
   font-size: 12px;
   line-height: 16px;
}

.caption-2 {
   font-size: 10px;
   line-height: 14px;
}

.numeric {
   font-family: Bahnschrift, "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.strong {
   font-weight: 550;
}

.stronger {
   font-weight: bold;
}
